section#content-DISABLED {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 30px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
}

div#headline h1 {
    font-size:30px;
    text-align:center;
    margin-top:0;
}

div#aboutme div#aboutmedesc {
    display:inline-block;
    width:57%;
    margin-right:9%;
    vertical-align:top;
}
div#aboutme div#aboutmedesc h1 {
    margin-top:0;
}
div#aboutme div#aboutmedesc p {
    font-size:130%;
}
div#aboutme img.chris {
    display:inline-block;
    width:33%;
    border-radius:9px;
}
div#xmytechnologies {
    display:inline-block;
    width:40%;
    vertical-align:top;

    background: #e5e4de;
    padding: 1em;
    margin: -1em;
    border-radius: 8px;
}
div#mytechnologies h2 {
    margin-top:0;
}
div#mytechnologies div.column {
    display:inline-block;
    vertical-align:top;
}
div#mytechnologies div.proficient {
    width:60%;
    margin-right:5%;
}
div#mytechnologies div.learning {
    width:34%;
}
div#mytechnologies ul {
    margin-left:2em;
    text-indent:-2em;
    list-style:none;
}


div#projects {
    page-break-after:always;
}
div#mytechnologies h1,
div#projects h1,
div#experience h1,
div#education h1 {
    border-bottom:1px solid #888;
}
div#projects div.column {
    display:inline-block;
    margin-right:3em;
    vertical-align:top;
}
div#projects div.column h2 {
    margin-top:0;
    margin-bottom:0;
}
div#projects ul {
    margin-left:0;
}
div#projects ul li {
    list-style:none;
}

div.entry {
    position:relative;
    margin-bottom:2.5em;
}
div.entry div.when {
    position:absolute;
    right:0;
}
div.entry div.title {
    font-size:115%;
    font-weight:bold;
}
div.entry div.details {
}
div.entry div.techs {
    font-style:italic;
}
div.entry div.description {
    margin-top:1em;
    margin-left:4em;
    font-size:85%;
}

div.bigsection {
    margin-top:3em;
}
