<%inherit file="_master.html.tmpl" />
<ul>
  <li><h2>What I'm Looking For</h2>
    <p>Most of all, I want to work on something that really <i>matters</i>.  When I'm old and gray, I want to be able to look back and be really proud of the work I did, and know that it made a difference.</p>
  </li>
  <li><h2>Job Experience</h2>
    <ul>
      <li>Medtronic (Design Automation Engineer and Unix Admin) 2009-present</li>
      <li>WebFaction.com (Support Engineer and Unix Admin) 2007-2009</li>
      <li>ST Microelectronics (Internship)  2007</li>
      <li>Medtronic (Internship)  2006</li>
      <li>Honeywell (Internship)  2005</li>
    </ul>
  </li>
  <li><h2>Education</h2>
    <ul>
      <li>Bachelor's Degree: Electrical Engineering from Arizona State University, 2007</li>
    </ul>
  </li>
  <li><h2>Coding Projects</h2>
    <ul>
      <li>GitDB</li>
      <li>Java Database for chained calculations</li>
      <li>PyReload</li>
      <li>Implementation of Java De/Serialization Protocol in Python</li>
      <li>Dynamic Website Framework -- "SebWeb"</li>
      <li>Static Website Framewok -- "MakoFW"</li>
      <li>HDTasks</li>
      <li>Screen Scraper, based on HtmlUnit</li>
      <li>Screen Scraper, based on PhantomJS</li>
      <li>Linux Kernel Drivers</li>
      <li>Stock Market Analysis</li>
      <li>Reverse Engineering & Re-Implementation of Datek Online Realtime Client for Stock Data Feed</li>
      <li>SRS Learning System</li>
    </ul>
  </li>
  <li><h2>My Design and Development Process</h2>
    <ul>
      <li>Sketch the Idea with Paper and Pencil</li>
      <li>UML on Notecards (from Bruce Eckel)</li>
      <li>GitFlow</li>
      <li>Write Tests</li>
      <li>Write the Code</li>
      <li>Test, test, test!</li>
    </ul>
  </li>
  <li><h2>Programming Lanugages</h2>
    <h3>Lots of Experience:</h3>
    <ul>
      <li>Python</li>
      <li>Bash</li>
      <li>C</li>
      <li>Java</li>
      <li>HTML + CSS + Javascript</li>
      <li>Perl</li>
    </ul>
    <h3>Less Experience:</h3>
    <ul>
      <li>PHP</li>
      <li>Erlang</li>
      <li>OCaml</li>
      <li>Lua</li>
      <li>Scheme / Gambit-C</li>
      <li>The Microsoft Languages:
        <ul>
          <li>C#</li>
          <li>F#</li>
          <li>IronPython</li>
          <li>Visual Basic (.NET and v6.0)</li>
          <li>QBasic (DOS 5.0)</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
