<!DOCTYPE html>
<html lang=en>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <title>${self.TITLE()}</title>
    <link rel="stylesheet" type="text/css" href="${self.URL('/static/lib/yui-3.4.1/build/cssreset/reset.css')}">
    <link rel="stylesheet" type="text/css" href="${self.URL('/static/lib/yui-3.4.1/build/cssbase/base.css')}">
    <link rel="stylesheet" type="text/css" href="${self.URL('/static/lib/yui-3.4.1/build/cssfonts/fonts.css')}">
    <link rel="stylesheet" type="text/css" href="${self.URL('/static/css/master.css')}">
    ${self.PAGE_CSS()}
    <script type="text/javascript" src="${self.URL('/static/lib/jquery-1.7.1/jquery-1.7.1.js')}"></script>
    <script type="text/javascript">
      // Prevent the use of '$' because it is cryptic,
      // and is easily confused with Mako template stuff.
      // Use 'jQuery' instead.
      jQuery.noConflict();
    </script>
    %if self.debugPage():
      <script type="text/javascript" src="${self.URL('/static/lib/firebug-20120313/build/firebug-lite.js')}"></script>
    %endif
    <script type="text/javascript" src="${self.URL('/static/js/master.js')}"></script>
    ${self.PAGE_JS()}
  </head>
  <body>
    <div id=header>
      <a id=logo href="${self.URL('/', timestamp=None)}">Christopher Sebastian :: Resume</a>
      <div id=slogan>Resume of Christopher Sebastian</div>
      <ul id=headerTabs>
        <li class=${'selected' if self.uri.endswith('/index.html.tmpl') else 'unselected'}><a href="${self.URL('/', timestamp=None)}"}>Home</a></li>
        <li class=${'selected' if self.uri.endswith('/projects.html.tmpl') else 'unselected'}><a href="${self.URL('/projects.html', timestamp=None)}"}>Projects</a></li>
        <li class=${'selected' if self.uri.endswith('/code.html.tmpl') else 'unselected'}><a href="${self.URL('/code.html', timestamp=None)}"}>Code</a></li>
        <li class=${'selected' if self.uri.endswith('/unix.html.tmpl') else 'unselected'}><a href="${self.URL('/unix.html', timestamp=None)}"}>Unix</a></li>
        <li class=${'selected' if self.uri.endswith('/china.html.tmpl') else 'unselected'}><a href="${self.URL('/china.html', timestamp=None)}"}>China</a></li>
        <li class=${'selected' if self.uri.endswith('/experience.html.tmpl') else 'unselected'}><a href="${self.URL('/experience.html', timestamp=None)}"}>Experience</a></li>
      </ul>
      <div class=vspacer></div>
      <hr>
    </div>
    <div id=content>
      ## Render the inheriting template:
      ${next.body()}
    </div>
    <div id=footer>
      <hr>
      ©2012 Baipu 使用百度前必读 京ICP证030173号
    </div>
  </body>
</html>

## These are Mako '<%def>' sections.  They override values in the resulting templates.
## You can override these <%def>'s in templates that inherit from this one.
<%def name='TITLE()'>Christopher Sebastian :: Resume</%def>
<%def name='PAGE_CSS()'></%def>
<%def name='PAGE_JS()'></%def>
<%def name='debugPage()'><% return False %></%def>


## Some extremely basic utilities.  Feel free to improve them as needed:
<%def name="URL(path, timestamp='auto')"><%
    # This function makes it easy to serve static files that are aggressively cached
    # on the client side, without making life difficult on the server side.  Whenever
    # an update to the file occurs, the timestamp will also update, resulting in a
    # new URL, which the client will fetch.

    assert path[0] == '/'
    mount_point = ''  # <-------- Override this if necessary.
    url = mount_point + path

    if timestamp == 'auto':
        src_dir = os.path.dirname(globals()['_template_filename'])
        fs_path = os.path.join(src_dir, path[1:])
        if not os.path.exists(fs_path):
            # Could not find the referenced file.  Is it a template?
            fs_path = os.path.join(src_dir, path[1:]+'.tmpl')
        if not os.path.exists(fs_path): raise ValueError('Unable to find fs_path for url: %r'%(path,))
        timestamp = os.path.getmtime(fs_path)
    if timestamp != None:
        if '?' not in url: url += '?'
        else: url += '&'
        url += 'timestamp=%s'%(timestamp,)

    return url
%></%def>
<%! import os %>
